body{
   
    text-align: center;
    background-color: rgb(15, 39, 39);
}
h1{
   font-size: 3rem;
   margin: 5%;
    color: aliceblue;
}
.container{
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center;
    width: 50%;
    height: auto;
    

}
.btn{
    margin: 25px;
    width: 200px;
    height: 200px;
   border: 10px solid black;
    display: inline-block;
    border-radius: 20%;
}
.game-over {
    background-color: red;
    opacity: 0.8;
  }

.red{
    background-color: red;
}

.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;
}

.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
  }